

/*BACKGROUNDS*/
$darkerBackground:rgb(199, 171, 186);
$lighterBackground:rgb(228, 187, 204);
$backgroundMarmol: url(../images/backgroundcontact.jpg);
/*GENERAL FONTS*/
$fontWeight: bold;
$fontFamily:'Martel', serif;
$buttonFont:'Playfair Display', serif;
$fontFamilyFooter: 'Alegreya SC', serif;
/*SPECIFIC FONTS*/
$fontSizeHeader: 1.7rem;
$fontSizeNav: 0.9rem;
$fontSizeCatchy: 1.2rem;
$fontSizeInfo:1rem;
$fontSizeContact:1.4rem;
$fontSizeContactForm:0.9rem;
$fontSizeFooter:0.9rem;
$fontSizeDescription: 0.8rem;



