.cart{
    .cart__item{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .cart__item--try{
            max-width: 36%;
            margin: 2%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            .cart__item--img{
                width: 78%;
            }
            .cart__item--delete{
                width: 15%;
            }
            p{
                margin: 0%;
                font-size: 0.8rem;
                text-align: center;
            }
        }
    }
}