header{
    display: flex;
    justify-content: center;
    margin-top: 2%;            
    .mainHeader__mainTitle{
        font-size: $fontSizeHeader;
        font-family: $fontFamily;
        color: black;
        text-decoration: none;
        font-weight: $fontWeight;
    }
    .tracking-in-expand-fwd-top {
        @include animationHeader;
    }
    .mainHeader__linksNav:hover{
        @include linkHover;
    }
}
@-webkit-keyframes tracking-in-expand-fwd-top {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(-500px);
              transform: translateZ(-700px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd-top {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(-500px);
              transform: translateZ(-700px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  
  /*PC's*/
@media (min-width: 781px) and (max-width:2400px){
  header{
    margin-top: 1%;
    .mainHeader__mainTitle{
      font-size: 1.6rem;
    }
  }
}
/*4k*/
@media (min-width: 2401px) and (max-width:10000px){
  header{
    margin-top: 1%;
    .mainHeader__mainTitle{
      font-size: 3.5rem;
    }
  }
}