.content{
    width: 100%;
    .content__landingSection{
        display: flex;
        justify-content: stretch;
        width: 100%;
        
        }
        .content__landingImage-A{
            width: 100%;
        }
        .content__landingImage-B{
            width: 100%;
        }
    }